# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/

# Vite timestamp files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# TypeScript
*.tsbuildinfo

# ESLint / Stylelint
.eslintcache
.stylelintcache

# Env files
.env
.env.*
!.env.example

# Parcel / Misc cache
.cache/
.parcel-cache/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Generated
*.local

# TanStack Router generated tmp
.tanstack/tmp