.cont-body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--color-primary);
}

.form-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-submit {
    width: 420px;
    height: 48px;
}
