.cont-body {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.logo-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 50%;
  height: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit{
  width: 420px;
  height: 48px;
}
