@layer components {
    /* Fonts style */
    p.heading {
        &.b {
            font-size: var(--text-heading);
            font-weight: var(--font-weight-bold);
            line-height: 30px;
        }
        &.s {
            font-size: var(--text-heading);
            font-weight: var(--font-weight-semibold);
            line-height: 30px;
        }
        &.m {
            font-size: var(--text-heading);
            font-weight: var(--font-weight-medium);
            line-height: 30px;
        }
        &.r {
            font-size: var(--text-heading);
            font-weight: var(--font-weight-normal);
            line-height: 30px;
        }
    }
    p.title {
        &.b {
            font-size: var(--text-title);
            font-weight: var(--font-weight-bold);
            line-height: 24px;
        }
        &.s {
            font-size: var(--text-title);
            font-weight: var(--font-weight-semibold);
            line-height: 24px;
        }
        &.m {
            font-size: var(--text-title);
            font-weight: var(--font-weight-medium);
            line-height: 24px;
        }
        &.r {
            font-size: var(--text-title);
            font-weight: var(--font-weight-normal);
            line-height: 24px;
        }
    }
    p.sub-title {
        &.b {
            font-size: var(--text-sub-title);
            font-weight: var(--font-weight-bold);
            line-height: 22px;
        }
        &.s {
            font-size: var(--text-sub-title);
            font-weight: var(--font-weight-semibold);
            line-height: 22px;
        }
        &.m {
            font-size: var(--text-sub-title);
            font-weight: var(--font-weight-medium);
            line-height: 22px;
        }
        &.r {
            font-size: var(--text-sub-title);
            font-weight: var(--font-weight-normal);
            line-height: 22px;
        }
    }
    p.body {
        &.b {
            font-size: var(--text-body);
            font-weight: var(--font-weight-bold);
            line-height: 20px;
        }
        &.s {
            font-size: var(--text-body);
            font-weight: var(--font-weight-semibold);
            line-height: 20px;
        }
        &.m {
            font-size: var(--text-body);
            font-weight: var(--font-weight-medium);
            line-height: 20px;
        }
        &.r {
            font-size: var(--text-body);
            font-weight: var(--font-weight-normal);
            line-height: 20px;
        }
    }
    p.body-sm {
        &.b {
            font-size: var(--text-body-sm);
            font-weight: var(--font-weight-bold);
            line-height: 18px;
        }
        &.s {
            font-size: var(--text-body-sm);
            font-weight: var(--font-weight-semibold);
            line-height: 18px;
        }
        &.m {
            font-size: var(--text-body-sm);
            font-weight: var(--font-weight-medium);
            line-height: 18px;
        }
        &.r {
            font-size: var(--text-body-sm);
            font-weight: var(--font-weight-normal);
            line-height: 18px;
        }
    }
    p.caption {
        &.b {
            font-size: var(--text-caption);
            font-weight: var(--font-weight-bold);
            line-height: 16px;
        }
        &.s {
            font-size: var(--text-caption);
            font-weight: var(--font-weight-semibold);
            line-height: 16px;
        }
        &.m {
            font-size: var(--text-caption);
            font-weight: var(--font-weight-medium);
            line-height: 16px;
        }
        &.r {
            font-size: var(--text-caption);
            font-weight: var(--font-weight-normal);
            line-height: 16px;
        }
    }
    p.label {
        &.b {
            font-size: var(--text-label);
            font-weight: var(--font-weight-bold);
            line-height: 12px;
        }
        &.s {
            font-size: var(--text-label);
            font-weight: var(--font-weight-semibold);
            line-height: 12px;
        }
        &.m {
            font-size: var(--text-label);
            font-weight: var(--font-weight-medium);
            line-height: 12px;
        }
        &.r {
            font-size: var(--text-label);
            font-weight: var(--font-weight-normal);
            line-height: 12px;
        }
    }

    input.input-field {
        width: 324px;
        padding: 12px 16px !important;
        color: var(--color-gray-600);
        font-size: var(--text-body);
        font-weight: var(--font-weight-medium);
        line-height: 20px;
        background-color: var(--color-gray-50);
        border-radius: var(--spacing-2);

        &::placeholder {
            color: var(--color-gray-300);
        }
    }

    /* button {
        font-family: var(--font-sans);
    } */

    button.btn-primary {
        font-size: var(--text-sub-title);
        font-weight: var(--text-weight-semibold);
        line-height: 22px;
        text-align: center;

        background-color: var(--color-primary);
        color: var(--color-white);

        padding: 12px 16px !important;
        border-radius: var(--radius-sm);
        transition: all 0.2s;

        &.sm {
            width: 84px;
            height: 44px;
        }
        &.lg {
            width: 420px;
            height: 48px;
        }
        &:hover:not(:disabled) {
            background-color: var(--color-primary-hover);
        }
        &:active:not(:disabled) {
            background-color: var(-color-primary-active);
        }
        &:disabled {
            background-color: var(--color-primary-disabled);
            color: var(--color-gray-300);
            cursor: not-allowed;
        }
    }

    button.btn-primary-light {
        font-size: var(--text-sub-title);
        font-weight: var(--font-weight-semibold);
        line-height: 22px;
        text-align: center;

        background-color: var(--color-primary-30);
        color: var(--color-primary);

        border: none;
        border-radius: var(--radius-sm);
        transition: all 0.2s;

        &.sm {
            width: 84px;
            height: 44px;
            min-width: 84px;
            min-height: 44px;
        }
        &.lg {
            width: 420px;
            height: 48px;
            min-width: 420px;
            min-height: 48px;
        }
        &:hover:not(:disabled) {
            background-color: var(--color-primary-light-hover);
        }
        &:active:not(:disabled) {
            background-color: var(--color-primary-light-active);
        }
        &:disabled {
            background-color: var(--color-primary-disabled);
            color: var(--color-gray-300);
            cursor: not-allowed;
        }
    }

    .btn-dup {
        font-size: var(--text-body-sm) !important;
        font-weight: var(--font-weight-medium) !important;
        line-height: 20px !important;
    }
}
