*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  line-height: 1.5;
  font-family: 'Pretendard','Roboto', 'Noto Sans KR', sans-serif;
  background-color: #fff;
  color: #111;
}

img,
picture,
video,
canvas,
svg {
  /* display: block; */
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
}