@import 'tailwindcss';
@import './variables.css';
@import './components.css';

/* Fonts import */
@font-face {
    font-family: 'Pretendard';
    src: url('/assets/fonts/Pretendard/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/assets/fonts/Pretendard/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/assets/fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/assets/fonts/Pretendard/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body #root {
    width: 100%;
    height: 100vh;
    line-height: 1.5;
    font-family: 'Pretendard', sans-serif;
    color: #000000;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}
