@theme {
    /* Colors */
    --color-primary: #4c79ff;
    --color-primary-10: #4c79ff1a;
    --color-primary-30: #4c79ff4d;

    --color-secondary-indigo: #023e99;
    --color-secondary-informative: #2563eb;
    --color-secondary-negative: #dc2626;
    --color-secondary-notice: #fbbf24;
    --color-secondary-positive: #22c55e;
    --color-secondary-fuchsia: #fd28ec;

    --color-white: #ffffff;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f0f2f5;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #ccd0d6;
    --color-gray-400: #969da8;
    --color-gray-500: #717887;
    --color-gray-600: #4b5563;
    --color-gray-700: #394252;
    --color-gray-800: #1f2937;

    /* Primary states */
    --color-primary-disabled: #969da8;
    --color-primary-hover: color-mix(in srgb, #4c79ff 90%, black 10%);
    --color-primary-active: color-mix(in srgb, #4c79ff 90%, black 10%);
    --color-primary-light-hover: color-mix(in srgb, #4c79ff1a 90%, black 10%);
    --color-primary-light-active: color-mix(in srgb, #4c79ff1a 90%, black 10%);

    /* Focus Ring (이미지 보라색 테두리) */
    --color-primary-focus-ring: #e000ff;

    /* Dim overlays */
    --color-dim-50: rgba(0, 0, 0, 0.5);
    --color-dim-70: rgba(0, 0, 0, 0.7);

    /* Border */
    --color-border-300: #ccd0d6;

    /* Shadows */
    --color-box-shadow-1: 0px 8px 8px 0px rgba(255, 255, 255, 0.05);
    --color-box-shadow-2: 0px 8px 8px 0px rgba(31, 41, 55, 0.05);

    /* Spacing */
    /* 컴포넌트 간 스페이싱 (8-point Grid) */
    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 8px;
    --spacing-4: 12px;
    --spacing-5: 16px;
    --spacing-6: 20px;
    --spacing-7: 24px;
    --spacing-8: 32px;
    --spacing-9: 36px;

    /* 영역 간 스페이싱 (8-point Grid) */
    --spacing-10: 40px;
    --spacing-11: 48px;
    --spacing-12: 56px;
    --spacing-13: 64px;
    --spacing-14: 72px;

    /* Fonts */
    --font-sans: 'Pretendard', sans-serif;

    /* Fonts size */
    --text-heading: 1.5rem; /* 24px */
    --text-title: 1.25rem; /* 20px */
    --text-sub-title: 1.125rem; /* 18px */
    --text-body: 1rem; /* 16px */
    --text-body-sm: 0.875rem; /* 14px */
    --text-caption: 0.75rem; /* 12px */
    --text-label: 0.625rem; /* 10px */
}
