.inputField-wrapper {
    width: 480px;
    height: 70px;
    display: flex;
    flex-direction: column;

    label{
        height: 18px;
        color:#4B5563;
        font-family: Pretendard;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        /* leading-trim: NONE; */
        line-height: 18px;
        letter-spacing: 0%;
        vertical-align: middle;
        margin-bottom: 8px;
    }
    
    input{
        width: 420px;
        height: 44px;
        padding: 0 12px;
        border: none;
        border-radius: 6px;
        background-color: var( --color-gray-50);
    }

    .input-with-button {
      display: flex;
      gap: 8px;

      input {
        width: 324px; 
      }

      button {
        width: 88px;
        height: 44px;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        background-color: var( --color-gray-200);
        color:var( --color-gray-400);
      }
    }
}

.helperText {
  display: block;
  width: 208px;
  height:16px;
  margin-bottom:8px;
  margin-top:8px;
}
